<nb-card>
    <nb-card-header>
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </nb-card-header>
    <nb-card-body>
        Loading, Please wait...
    </nb-card-body>
</nb-card>