<nb-card>
    <nb-card-header>Binding and pipes</nb-card-header>
    <nb-card-body>
        <h1>String</h1>
        <p>Simple Binding: {{ myString }}</p>
        <p>Caps: {{ myString|uppercase }}</p>
        <p>NoCaps: {{ myString|lowercase }}</p>
        <p>Title: {{ myString|titlecase }}</p>

        <h1>Number</h1>
        <p>Simple Binding: {{ myNumber }}</p>
        <p>max 2 decimals: {{ myNumber|number:'0.2-2' }}</p>
        <p>min 3 digits & 0 decimal: {{ myNumber|number: '3.0-0' }}</p>

        <h1>Date</h1>
        <p>Simple Binding: {{ myDate }}</p>
        <!-- 01/01/2023 -->
        <p>Formatted Date: {{ myDate|date: 'dd/MM/yyyy' }}</p>

        <h1>Boolean</h1>
        <p>Simple Binding: {{ myBool }}</p>
        <p>Ternaire: {{ myBool ? 'Connected' : 'Not Connected' }}</p>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-header>Binding 2 ways</nb-card-header>
    <nb-card-body>
        <input [(ngModel)]="inputValue" nbInput>
        <button [disabled]="!inputValue" nbButton status="primary" 
        (click)="onClick()">Click Me !</button>
    </nb-card-body>
</nb-card>