<nb-card>
    <nb-card-header>Timer</nb-card-header>
    <nb-card-body>
        <h1 
        [ngClass]="{white: minute === 0 && second === 0, green: minute < 1, orange: minute < 2, red: minute >= 2 }"
            >{{ hour|number: '2.0-0' }}:{{ minute|number: '2.0-0' }}:{{ second|number: '2.0-0' }}
        </h1>

        <!-- <h1> {{ counter|timer }}</h1> -->
    </nb-card-body>
    <nb-card-footer>
        <button [disabled]="startflag === true" nbButton status="success"
        (click)="start()">
        <nb-icon icon="arrowhead-right"></nb-icon>
        Start</button>
        <button [disabled]="!hour && !minute && !second || stopflag === true" nbButton status="danger"
        (click)="stop()">
        <nb-icon icon="close-outline"></nb-icon>
        Stop</button>
        <button [disabled]="!hour && !minute && !second" nbButton status="warning"
        (click)="reset()">
        <nb-icon icon="refresh-outline"></nb-icon>
        Reset</button>
    </nb-card-footer>
</nb-card>