#taskInput {
    width: 800px;
}

.red {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
}

.green {
    color: green;
    text-transform: lowercase;
    font-weight: 100;
}

#urgent, #delete, #validate {
    margin-left: 10px;
}

#validTask, #brush {
    margin-right: 10px;
}