<nb-icon id="validTask" status="success"
    *ngIf="task.isValidated" 
    icon="checkmark-circle-outline">
</nb-icon>

<nb-icon id="validTask" status="danger"
    *ngIf="!task.isValidated && task.isUrgent" 
    icon="alert-triangle-outline">
</nb-icon>

<nb-icon id="validTask" status="info"
    *ngIf="!task.isValidated && !task.isUrgent" 
    icon="edit-outline">
</nb-icon>

{{ task.name }}

<button id="delete" 
        nbButton 
        size="small"
        (click)="onClickDelete()"
        status="danger"
        ><nb-icon icon="trash-outline"></nb-icon>
</button>

<button id="validate"
        nbButton 
        size="small"
        [disabled]="task.isValidated"
        (click)="onClickValidate()"
        status="success">
        <nb-icon icon="checkmark-outline"></nb-icon>
</button>