<nb-card>
    <!-- Header : Titre -->
    <nb-card-header>
        <nb-icon id="brush" icon="brush-outline"></nb-icon>Task Manager
    </nb-card-header>
    <!-- Body -->
    <nb-card-body>
        <!-- Input : Task-->
        <input id="taskInput" [(ngModel)]="name" nbInput placeholder="new task : 'do the dishes'" status="dark">
        <!-- CheckBox : Urgent -->
        <nb-checkbox 
        id="urgent" 
        [(ngModel)]="urgent" 
        status="danger"
        >Urgent!
    </nb-checkbox>
    <hr>
        <!-- Button : Validate -->
        <button 
            [disabled]="!name" 
            (click)="onClickAdd()"
            nbButton 
            status="primary"
            ><nb-icon icon="calendar-outline"></nb-icon>
             Validate
        </button>
    </nb-card-body>
    <!-- Footer -->
    <nb-card-footer>
        <!-- List of Tasks -->
        <nb-list>
            <!-- Loop on list items of tasks -->
            <nb-list-item 
                *ngFor="let task of (taskList$|async)"
                [ngClass]="{red: task.isUrgent, green:task.isValidated}">

                <app-task-row [task]="task" (onDelete)="deleteTask($event)"></app-task-row>

            </nb-list-item>
            <!-- END list item  -->
        </nb-list>
    </nb-card-footer>
</nb-card>

