<nb-card>
    <nb-card-header>€€€ -- Money Clicker -- €€€</nb-card-header>
    <nb-card-body>
        <h1> {{ countNumber }} €</h1>
        <button nbButton [disabled]="!countNumber" status="danger"
        (click)="remove()">
        <nb-icon icon="minus"></nb-icon>
        Remove Money
        </button>
        <button nbButton [disabled]="countNumber === 20" status="success"
        (click)="add()">
        <nb-icon icon="plus"></nb-icon>
        Add Money
        </button>
    </nb-card-body>
</nb-card>