<nb-layout>

  <nb-layout-header fixed>
  <!-- Insert header here -->
  <div class="menu">
    <div>
      <h1><nb-icon icon="shield-off-outline"></nb-icon>My First Angular Project</h1>
    </div>
    <div>
      <p>Number of tasks : {{count$|async}} </p>
      <p>Amount of money : {{money$}} €</p>
    </div>
  </div>
  
  </nb-layout-header>

  <nb-sidebar>
    <!-- Insert sideBar here -->
    <nb-menu [items]="links"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <!-- Insert Main Page here -->
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  <p>JMi&trade;</p>
  </nb-layout-footer>

</nb-layout>
