<nb-card>
    <nb-card-header>
        <nb-icon id="compass" icon="compass-outline"></nb-icon>Task Manager
    </nb-card-header>
    <nb-card-body>
        <div>
            <input nbInput placeholder="Enter a name" [(ngModel)]="firstName">
        </div>
        <br>
        <div>
            <nb-select [(ngModel)]="selectedCountry">
                <nb-option [value]="c" *ngFor="let c of countries" > {{ c.translations.fra.common }} </nb-option>
            </nb-select>
        </div>
        <br>
        <div>
            <button [disabled]="!firstName" 
            (click)="onClick()" nbButton>
            <nb-icon id="Validate" status="success" icon="corner-down-left-outline">
            </nb-icon>Confirm</button>
        </div>
        
    </nb-card-body>
    <nb-card-footer>
        <div *ngIf="person">
            <div *ngIf="person.count !== 0; else noOne">
                <div>
                    <span> People named {{ person.name|titlecase }} are mostly {{ person.gender }} </span>
                </div>
                <div>
                    <span> There are {{ person.count|number:'1.0-0':'en' }} people with the same name in {{ selectedCountry.name.common }} </span>    
                </div>
                <div>
                    <span > The average age of people named {{ person.name|titlecase }} is {{ person.age }} years old</span>    
                </div>
            </div>
            
            <ng-template #noOne>
                <span> There is no one named {{ person.name|titlecase }} in {{ selectedCountry.name.common }} </span>
            </ng-template>
            
            
            
        </div>
        
        <!-- {{ person.name }} -->
    </nb-card-footer>
</nb-card>