<nb-card>
    <nb-card-header>
        Reactive Form
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="fg" (ngSubmit)="submit()">
            <div class="input-group">
                <input nbInput placeholder="Your Lastame *" formControlName="lastName" type="text">
                <app-form-errors [control]="fg.get('lastName')"></app-form-errors>
            </div>
            <div class="input-group">
                <input nbInput placeholder="Your firstName *" formControlName="firstName" type="text">
                <app-form-errors [control]="fg.get('firstName')"></app-form-errors>
            </div>
            <div class="input-group">
                <input nbInput formControlName="birthDate" type="date">
                <app-form-errors [control]="fg.get('birthDate')"></app-form-errors>     
            </div>
            <div class="input-group">
                <input nbInput placeholder="email@address.com *" formControlName="email" type="text">
                <app-form-errors [control]="fg.get('email')"></app-form-errors>
            </div>
            <div class="input-group">
                <nb-select formControlName="gender">
                    <nb-option *ngFor="let value of Gender|enumToList" [value]="value.key">
                        {{ value.label }}
                    </nb-option>
                </nb-select>
                <app-form-errors [control]="fg.get('gender')"></app-form-errors>
            </div>
            <div class="input-group">
                <nb-select formControlName="nationality">
                    <nb-option *ngFor="let c of countries" [value]="c.cca2">{{ c.translations.fra.common }}</nb-option>
                </nb-select>
                <app-form-errors [control]="fg.get('nationality')"></app-form-errors>
            </div>
            <div class="input-group">
            <input nbInput type="text" formControlName="niss">
                <app-form-errors [control]="fg.get('niss')"></app-form-errors>
            </div>
            <div class="input-group">
                <h1>Skills
                    <app-form-errors [control]="fg.get('skills')"></app-form-errors>
                </h1>
                <button class="skillPlus" nbButton (click)="add()">
                    <nb-icon icon="plus-outline"></nb-icon>
                </button>
                <ng-container formArrayName="skills">
                    <ng-container *ngFor="let skill of skills.controls; let i = index">
                        <div class="input-group" [formGroupName]="i">
                            <button nbButton status="danger" (click)="delete(i)">
                                <nb-icon icon="trash-outline"></nb-icon>
                            </button>
                            <input nbInput formControlName="name">
                            <app-form-errors [control]="skill.get('name')"></app-form-errors>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
            <div class="input-group">
                <button type="submit" nbButton status="info">Modify</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>


