<nb-card>
    <nb-card-header>
        <select>
            <option *ngFor="let c of countries"> {{ c.translations.fra.common }}</option>
        </select>
    </nb-card-header>
    <nb-card-body>

    </nb-card-body>
</nb-card>