<nb-card>
    <nb-card-header>
        <h1>IF / ngTemplate</h1>
    </nb-card-header>
    <nb-card-body>
        <img 
            *ngIf="age >= 18; else interdit" 
            style="height: 250px;"
            src="/assets/squirrel.jpg" alt="">

    </nb-card-body>
</nb-card>

<ng-template #interdit>
    <p>Cette image n'est pas autorisée si vous avez moins de 18ans</p>
</ng-template>

<nb-card>
    <nb-card-header>
        <h1>FOR / ngClass</h1>
    </nb-card-header>
    <nb-card-body>
        <ul>
            <li *ngFor="let item of list; let i = index" [ngClass]="{pair: i % 2 == 0 }">{{ item }}</li>
        </ul>
    </nb-card-body>
</nb-card>

